.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}
.items-center{
  align-items: center;
}

.flex-1{
  flex: 1;
}

.gap-025{
  gap: 0.25rem;
}
.gap-05{
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}

.text-center{
  text-align: center;
}

.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.p-3{
  padding: 3rem;
}

.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pb-1{
  padding-bottom: 1rem;
}
.pb-2{
  padding-bottom: 2rem;
}
.pb-3{
  padding-bottom: 3rem;
}

.w-full{
  width: 100%;
}

.border-t{
  border-top: 1px solid #000;
}